<h3><%= @user.username %></h3>
<p>
  <b>Role</b>: <%= @user.role.capitalize %>
</p>

<% if @user.role?(:customer) %>
<p>
  <%= link_to "Link to customer page", @user.customer %>
</p>
<% end %>

<p>
  <b>Active</b>: <%= @user.active ? 'Yes' : 'No' %>
</p>


<p>
  <em>Account created in <%= @user.created_at.year %>.</em>
</p>